﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Pokemones Capturados</h2>


<a href="/Pokemon/Index" class="btn btn-secondary">Volver</a>
<a href="/Auth/Logout" class="btn btn-warning">Cerrar Sesion</a>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha de captura</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Imagen</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Pokemon in Model)
            {
                <tr>
                    <td>@Pokemon.Id</td>
                    <td>@Pokemon.FechaCaptura</td>
                    <td>@Pokemon.Pokemon.Nombre</td>
                    <td>@Pokemon.Pokemon.Tipo</td>
                    <td><img src="@Pokemon.Pokemon.Imagen" width="50px" height="50px" /></td>
                    <td><a href="/Pokemon/LiberarPokemon?pokemonId=@Pokemon.Id" class="btn btn-info">Liberar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
