﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Crear pokemon</h2>
<form method="post" action="/Pokemon/Save"  enctype="multipart/form-data">
    <div class="form-group">
        <label>Nombre</label>
        <input class="form-control" type="text" name="Nombre" />
        <p style="color:red">@Html.ValidationMessage("Nombre")</p>
    </div>

    <div class="form-group">
        <label>Tipo</label>
        <select class="form-control" name="Tipo">
            @foreach (var Tipos in ViewBag.Tipos)
            {
                <option value="@Tipos.Nombre">@Tipos.Nombre </option>
            }
        </select>
        <p style="color:red">@Html.ValidationMessage("Nombre")</p>
    </div>
    <div class="form-group">
        <input type="file" name="file" multiple accept=".jpg,.png" />
    </div>
    <div class="form-group">
        <button class="btn-group">Guardar</button>
    </div>
</form>
