﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Index</h2>


<div>
    <a href="/Pokemon/Create" class="btn btn-info">Nuevo Pokemon</a>
    <a href="/Pokemon/Capturados" class="btn btn-success">Pokemones capturados</a>
    <a href="/Auth/Logout" class="btn btn-warning">Cerrar Sesion</a>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Imagen</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Pokemon in Model)
            {
            <tr>
                <td>@Pokemon.Id</td>
                <td>@Pokemon.Nombre</td>
                <td>@Pokemon.Tipo</td>
                <td><img src="@Pokemon.Imagen" width="40px" height="40px" /></td>
                <td><a href="/Pokemon/CatchPokemon?pokemonId=@Pokemon.Id" class="btn btn-success">Capturar</a></td>
            </tr>
             }
        </tbody>
    </table>
</div>
