﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
﻿
<form action="/auth/login" method="post">

    @if (TempData["AuthMessage"] != null)
    {
<p id="AuthMessage">@TempData["AuthMessage"]</p>}

    <input type="text" name="username" value="" />
    <input type="password" name="password" value="" />
    <button>Iniciar Sesión</button>
</form>
